# football-data.org API Key (免费注册: https://www.football-data.org/client/register)
# 免费额度: 10 请求/分钟
FOOTBALL_DATA_KEY=your_key_here

# 比赛 ID:
#   2000 = FIFA World Cup (世界杯)
#   2018 = European Championship (欧洲杯)
#   2001 = UEFA Champions League (欧冠)
#   2021 = Premier League (英超)
#   2014 = La Liga (西甲)
#   2019 = Serie A (意甲)
#   2002 = Bundesliga (德甲)
#   2015 = Ligue 1 (法甲)
SYNC_COMPETITION=2000

# 赛季年份 (世界杯用年份, 联赛用起始年 如 2024)
SYNC_SEASON=2022
